.picture__wrapper
  a.picture__link(
    href="https://google.com"
    title="a very nice image to visit"
  )
    img.picture__image(
      src="https://picsum.photos/seed/picsum/200/300"
      alt="a good detailed description of this image"
    )
