doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Cocktails 

    link(rel="stylesheet" href="/style.css")
  body 
    include ../_component/accessible-filter/accessible-filter

    script(src="/asset/js/all.js") 
