.account-nudge__wrapper
  input.account-nudge__input(type="radio" id="close-nudge" name="close-nudge")
  section.account-nudge
    h4.account-nudge__title save your flavor profilE?
    p.account-nudge__description We’ll serve you up the latest cocktails recipes based on your flavor profile, as well as share free mixology masterclasses from our experts, and exclusive Johnnie Walker content.
    button.account-nudge__action Create account
    label.account-nudge__close(for="close-nudge") Close 
