// https://fonts.google.com/specimen/Oswald?preview.text=FRUITY&preview.size=62&preview.text_type=custom&query=os
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
  font-family: 'Johnnie Walker Regular';
  src: url('#{$baseUrl}asset/font/johnnie-walker-regular/JWJohnnieWeb-Regular.eot?#iefix');
  src: url('#{$baseUrl}asset/font/johnnie-walker-regular/JWJohnnieWeb-Regular.eot?#iefix')
      format('eot'),
    url('#{$baseUrl}asset/font/johnnie-walker-regular/JWJohnnieWeb-Regular.woff2')
      format('woff2'),
    url('#{$baseUrl}asset/font/johnnie-walker-regular/JWJohnnieWeb-Regular.woff')
      format('woff'),
    url('#{$baseUrl}asset/font/johnnie-walker-regular/JWJohnnie-Regular.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Johnnie Walker Sans Headline';
  src: url('#{$baseUrl}asset/font/johnnie-walker-sans/JohnnieWalkerWeb-Headline.eot?#iefix');
  src: url('#{$baseUrl}asset/font/johnnie-walker-sans/JohnnieWalkerWeb-Headline.eot?#iefix')
      format('eot'),
    url('#{$baseUrl}asset/font/johnnie-walker-sans/JohnnieWalkerWeb-Headline.woff2')
      format('woff2'),
    url('#{$baseUrl}asset/font/johnnie-walker-sans/JohnnieWalkerWeb-Headline.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Johnnie Walker Serif Book';
  src: url('#{$baseUrl}asset/font/johnnie-walker-serif/JohnnieWalkerSerifWeb-Book.eot?#iefix');
  src: url('#{$baseUrl}asset/font/johnnie-walker-serif/JohnnieWalkerSerifWeb-Book.eot?#iefix')
      format('eot'),
    url('#{$baseUrl}asset/font/johnnie-walker-serif/JohnnieWalkerSerifWeb-Book.woff2')
      format('woff2'),
    url('#{$baseUrl}asset/font/johnnie-walker-serif/JohnnieWalkerSerifWeb-Book.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: '#{$jw-icon-font-family}';
  src: url('#{$baseUrl}#{$jw-icon-font-path}/#{$jw-icon-font-family}.ttf?1bezz3')
      format('truetype'),
    url('#{$baseUrl}#{$jw-icon-font-path}/#{$jw-icon-font-family}.woff?1bezz3')
      format('woff'),
    url('#{$baseUrl}#{$jw-icon-font-path}/#{$jw-icon-font-family}.svg?1bezz3##{$jw-icon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='jw-'],
[class*=' jw-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$jw-icon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jw-custom-font-social-email {
  &:before {
    content: $jw-custom-font-social-email;
  }
}
.jw-custom-font-social-facebook {
  &:before {
    content: $jw-custom-font-social-facebook;
  }
}
.jw-custom-font-social-instagram {
  &:before {
    content: $jw-custom-font-social-instagram;
  }
}
.jw-custom-font-social-link {
  &:before {
    content: $jw-custom-font-social-link;
  }
}
.jw-custom-font-social-share {
  &:before {
    content: $jw-custom-font-social-share;
  }
}
.jw-custom-font-social-x {
  &:before {
    content: $jw-custom-font-social-x;
  }
}
.jw-custom-font-small-heart-fill {
  &:before {
    content: $jw-custom-font-small-heart-fill;
  }
}
.jw-custom-font-small-heart-outline {
  &:before {
    content: $jw-custom-font-small-heart-outline;
  }
}

.jw-custom-font-checkmark {
  &:before {
    content: $jw-custom-font-checkmark;
  }
}
.jw-custom-font-circle-left {
  &:before {
    content: $jw-custom-font-circle-left;
  }
}
.jw-custom-font-circle-right {
  &:before {
    content: $jw-custom-font-circle-right;
  }
}
.jw-custom-font-info {
  &:before {
    content: $jw-custom-font-info;
  }
}

.jw-custom-font-cross {
  &:before {
    content: $jw-custom-font-cross;
  }
}
