.grid-list {
  display: grid;
  gap: 1rem; // 16px
  column-gap: 1.25rem; // 20px
  row-gap: 3.25rem; // 52px
  width: fit-content;
  // counter-set: whom;
  grid-template-columns: repeat(2, 1fr);

  .results-summary {
    grid-column: 1/-1;
  }

  &__promo {
    // background-color: $science-blue;
    height: 22rem; // 310px
    font-size: 2rem;
    // color: $white;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0;

    &__wrapper {
      grid-column: 1/-1;
      padding: 0.5rem 0;
      order: 1;
    }
  }

  &__product {
    width: 10.1875rem; // 163px
    height: 10.8125rem; // 173px
    // background-color: $orange;
    // counter-increment: whom;
    position: relative;

    // &::before {
    //   position: absolute;
    //   inset: 0;
    //   content: counter(whom);
    //   font-size: 4rem;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }

    & > a:last-child {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }

    &:nth-of-type(9),
    &:nth-of-type(10) {
      order: 2;
    }
  }

  &__wrapper {
    display: flex;
    gap: 3.25rem; // 52px
    flex-direction: column;
    padding-bottom: 4rem;
  }
}

//                            768px
@media screen and (min-width: 48rem) {
  .grid-list {
    &__product {
      width: 17.5rem; // 280px
      height: 28.75rem; // 460px
    }
  }
}

//                            1024px
@media screen and (min-width: 64rem) {
  .grid-list {
    &__product:nth-of-type(8),
    &__product:nth-of-type(9),
    &__product:nth-of-type(10) {
      order: 2;
    }

    &:has(.grid-list__product:nth-of-type(2)) {
      grid-template-columns: repeat(2, 1fr);
    }

    &:has(.grid-list__product:nth-of-type(3)) {
      grid-template-columns: repeat(3, 1fr);
    }

    &:has(.grid-list__product:nth-of-type(4)),
    &:has(.grid-list__product:nth-of-type(5)) {
      & .grid-list__product:first-child {
        grid-row: span 2;
        height: 100%;
        // background-color: $blaze-orange;
      }
    }

    &:has(.grid-list__product:nth-of-type(6)) {
      & .grid-list__product:first-child {
        grid-row: initial;
        height: 100%;
        // background-color: $orange;
      }
    }

    &:has(.grid-list__product:nth-of-type(7)) {
      & .grid-list__product:first-child {
        grid-row: span 2;
        height: 100%;
        // background-color: $blaze-orange;
      }

      & .grid-list__product:nth-of-type(7) {
        grid-row: 2/4;
        grid-column: 3/4;
        height: 100%;
        // background-color: $blaze-orange;
      }
    }

    &__product {
      height: 22rem; // 310px
    }
  }
}
