// tablet
:root {
  --slide-by: 0px;
}

@media screen and (min-width: 48rem) {
  .top-menu {
    padding-inline: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    &__sub-nav {
      &--columns {
        grid-template-columns: repeat(3, 1fr);
        position: absolute;
        background-color: var(--black);
        width: 100%;
        top: 3.5rem;
        padding-block: 2rem;
        max-height: calc(100vh - 9.5rem);
        overflow-y: auto;

        & .top-menu__sub-nav-link {
          color: var(--pearl-lusta);
        }
      }

      &--simple {
        position: absolute;
        top: 3.5rem;
        left: 0;
        right: 0;
        z-index: 1;

        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        max-height: calc(100vh - 9.5rem);
        overflow-y: auto;

        & > .top-menu__sub-nav-link {
          min-height: 10rem;
          text-align: center;
        }
      }
    }

    &__logo {
      &::before {
        position: absolute;
        font-size: 4rem;
      }

      &::after {
        font-family: var(--jw-custom-font-font-family);
        content: var(--jw-custom-font-jw-text);
        font-size: 4rem;
        padding-right: 0.8rem;
      }

      &-wrapper {
        overflow: hidden;
      }
    }

    &__toggle,
    &__news,
    #top-menu__news-toggle,
    #top-menu__toggle {
      display: none;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      min-height: 3.5rem;

      &-content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        transition: 250ms ease-in;

        display: flex;

        &-wrapper {
          position: relative;
          overflow-x: clip;
          flex-grow: 1;
        }

        & [data-change-location] {
          position: fixed;
          top: 1rem;
          left: 1rem;
        }

        & {
          & .top-menu__sub-nav-link {
            font-size: 3rem;
          }

          & .top-menu__sub-nav--columns .top-menu__sub-nav-link {
            font-size: 1.125rem;
          }
        }
      }
    }

    &__main-link-simple,
    &__main-link-toggle {
      border: 0;
      font-size: 1.125rem;
      white-space: nowrap;
      outline-offset: -0.5rem;
      position: absolute;
      padding-inline: 1rem;
      left: var(--left);

      &:not([data-change-location]) {
        transform: translateX(var(--slide-by, 0));
      }
    }

    &__main-link-toggle {
      padding-inline: 1rem 3.25rem;
    }

    &__logo-wrapper {
      max-width: calc(100% - 13rem);
      // margin: auto;
    }

    &__icon-list {
      justify-content: end;
    }

    &__sub-nav-link {
      gap: 0;

      &[data-has-image] {
        grid-column: 3/4;

        &:nth-last-of-type(1) {
          grid-row: 1/2;
        }

        &:nth-last-of-type(2) {
          grid-row: 2/3;
        }

        &:nth-last-of-type(3) {
          grid-row: 3/4;
        }
      }

      & & {
        white-space: nowrap;
      }
    }
  }

  .top-menu__left-icon,
  .top-menu__right-icon {
    display: flex;

    &:hover {
      background-color: var(--black);
      color: var(--pearl-lusta);
    }
  }

  // #top-menu__left-icon {
  //   border-radius: 0;

  //   &:checked ~ .top-menu__nav-content-wrapper > .top-menu__nav-content {
  //     transform: translateX(0);
  //   }
  // }

  // #top-menu__right-icon {
  //   border-radius: 0;

  //   &:checked ~ .top-menu__nav-content-wrapper > .top-menu__nav-content {
  //     transform: translateX(calc(100vh - 100% + 4rem));
  //   }
  // }
}
