
dialog#newsletter__dialog.newsletter__dialog(

)
  .newsletter__modal
    .newsletter__header
      h1 hi

    .newsletter__body
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")
      div 
        div 
          label some text
        input(type="text")

    .newsletter__footer
      div 
        input(type="submit")
        button.newsletter__close-button(
          type="button"
        ) &times;
