.multi-line
  | Life is
  | What happens
  | When you're
  | Busy making
  | Other plans

.multi-line
  | To be
  | Or not
  | To be
  | That is
  | The question

.multi-line
  | Every moment
  | Is a fresh
  | Beginning

.multi-line
  | Believe
  | In yourself
  | And all
  | That you are

.multi-line
  | Dreams can
  | Become reality
  | Through consistency
  | And determination

.multi-line
  | Hardships
  | Often prepare
  | Ordinary people
  | For extraordinary
  | Destinies
