extends _component/layout/base

block awesome-content
  include _component/hero-carousel/hero-carousel
  //- include _component/grid-list/grid-list
  //- include _component/link/link
  //- include _component/picture/picture
  //- include _component/smart-filter/smart-filter
  //- include _component/form/input/input


