// variable.scss

// colours
// https://chir.ag/projects/name-that-color/#FF6B00
$orange: #fcb913; // rename
$blaze-orange: #ff6b00;
$science-blue: #0957c3;
$thunderbird: #d91a17;
$dusty-gray: #999;
$pearl-lusta-transparent: hsla(46, 83%, 93%, 0%);
$pearl-lusta: #fcf5df;
$light-gray: #d8d8d8; // rename
$white: #fff;
$black: #000;

// font
$icomoon-font-family: 'jw' !default;
$icomoon-font-path: 'asset/font' !default;

$jw-checkmark: '\e900';
$jw-circle-left: '\e901';
$jw-circle-right: '\e902';
$jw-info: '\e903';
$jw-cross: '\e904';
