.hero-carousel {
  --item-width: 17.5rem; // 280px
  --list-gap: 5rem;
  --item-height: 20.9375rem; // 335px
  --item-rotation: 12deg;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  counter-set: selected;
  counter-set: howMany;
  position: relative;
  padding-top: 3rem;
  overflow: hidden;
  height: 57.5rem;
  font-family: 'Johnnie Walker Sans Headline', serif;

  &__current {
    font-family: 'Johnnie Walker Sans Headline', serif;
    font-size: 2rem;

    &::before {
      content: '1 ';
    }

    &::after {
      content: counter(howMany);
    }
  }

  &__selected {
    font-family: Johnnie Walker Serif !important;
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: 250ms;

    &::before {
      content: '(' counter(selected);
    }
  }

  &:has(
      .hero-carousel__item-selector:checked
        ~ .hero-carousel__item-selector:checked
    ) {
    & .hero-carousel__item-selector:not(:checked) {
      display: none;

      & ~ .hero-carousel__item-grid .hero-carousel__item {
        // border: 0.5rem solid $dusty-gray;
        border: 0;
        pointer-events: none;
      }
    }
  }

  &__nav {
    position: relative;

    &--left,
    &--right {
      position: absolute;
      bottom: 35rem;
      font-size: 1.5rem;
      width: 3.2rem;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 0;
      transition: 250ms;
      z-index: 10;
      background-color: $black;
      color: $white;

      // fix bleeding css
      padding: 0;

      &:hover {
        background-color: $orange;
        color: $black;
      }

      cursor: pointer;

      &:focus-visible {
        outline: 0.5rem solid $blaze-orange;
      }

      & > span {
        pointer-events: none;
      }
    }

    &--left {
      left: -14rem;
    }

    &--right {
      right: -14rem;
    }
  }

  &__title,
  &__info,
  &__selected {
    position: relative;
    order: -1;
    // padding: 0 2rem;
    margin: 0;
  }

  &__info {
    font-size: 1rem;
    line-height: 1.5;
    font-family: Johnnie Walker Serif !important;

    &-wrapper {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }
  }

  &__title {
    font-size: 3.5rem;
    height: 3rem;
    line-height: 3rem;
  }

  &__background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100%;
    opacity: 0;

    left: 100vw;
    transition: 150ms ease-in;
    // @for $i from 1 through 7 {
    //   &:nth-child(#{$i}) {
    //     left: #{($i - 1) * 50%};
    //   }
    // }

    &-effect {
      position: absolute;
      inset: 0;
      background-image: linear-gradient(
        to bottom,
        $pearl-lusta-transparent,
        $pearl-lusta
      );
      // &::after {
      //   content: '';
      // }
    }

    &-list {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 700%;
      z-index: -1;
    }
  }

  &__item {
    // border: 0.5rem solid $science-blue;
    border: 0;
    width: var(--item-width);
    height: var(--item-height);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 150ms ease-out;

    position: absolute;

    background-image: var(--bg);
    background-size: cover;
    background-position: center;

    box-shadow: 1px 0 0.75rem #000;

    top: 0;

    &:nth-child(7n + 1) {
      left: calc(
        (var(--item-width) * 0) + var(--list-gap) * 0 - var(--item-width) / 2
      );
      top: calc(var(--list-gap) * 0);
      transform: rotate(calc(var(--item-rotation) * 0));
    }

    &:nth-child(7n + 2) {
      left: calc(
        (var(--item-width) * 1) + var(--list-gap) * 1 - var(--item-width) / 2
      );
      top: calc(var(--list-gap) * 0.5);
      transform: rotate(calc(var(--item-rotation) * 1)) scale(0.8);
    }

    &:nth-child(7n + 3) {
      left: calc(
        (var(--item-width) * 2) + var(--list-gap) * 2 - var(--item-width) / 2
      );
      top: calc(var(--list-gap) * 1.8);
      transform: rotate(calc(var(--item-rotation) * 2)) scale(0.8);
    }

    &:nth-child(7n + 4) {
      left: calc(
        (var(--item-width) * 3) + var(--list-gap) * 3 - var(--item-width) / 2
      );
      top: calc(var(--list-gap) * 4);
      transform: rotate(calc(var(--item-rotation) * 3)) scale(0.8);
    }

    &:nth-child(7n + 5) {
      left: calc(
        (var(--item-width) * -3) + var(--list-gap) * -3 - var(--item-width) / 2
      );
      top: calc(var(--list-gap) * 4);
      transform: rotate(calc(var(--item-rotation) * -3)) scale(0.8);
    }

    &:nth-child(7n + 6) {
      left: calc(
        (var(--item-width) * -2) + var(--list-gap) * -2 - var(--item-width) / 2
      );
      top: calc(var(--list-gap) * 1.8);
      transform: rotate(calc(var(--item-rotation) * -2)) scale(0.8);
    }

    &:nth-child(7n + 7) {
      left: calc(
        (var(--item-width) * -1) + var(--list-gap) * -1 - var(--item-width) / 2
      );
      top: calc(var(--list-gap) * 0.5);
      transform: rotate(calc(var(--item-rotation) * -1)) scale(0.8);
    }

    &:hover {
      transform: scale(1.1);
    }

    &-description-list ~ a {
      width: 17.5rem; // 280px
      height: 3.5rem; // 56px
      padding: 0;
      margin: 0;
    }

    &-description {
      font-size: 1rem;
      line-height: 1.5;
      font-family: 'Johnnie Walker Serif Book', serif;

      text-align: center;
    }

    &-description,
    &-remove {
      display: none;
    }

    &-remove {
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 1.5rem;
      line-height: 2.25rem;
      height: 2.25rem;
      padding-inline: 0.5rem;
      font-family: 'Johnnie Walker Sans Headline', serif;
      border: 0.125rem solid $black;

      & .jw-icon-cross {
        font-size: 0.75rem;
      }
    }

    &-selected-list {
      display: flex;
      gap: 1rem;
      flex-wrap: nowrap;
      height: 2.25rem;
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      // overflow: hidden;
      // padding: 2.5rem 0;
      position: relative;
    }

    &-list {
      width: 100%;
      display: flex;
      gap: var(--list-gap);
      grid-column-start: 2;
      position: relative;
      height: var(--item-height);
    }

    &-title {
      display: inline-block;
      line-height: 4rem;
      font-size: 3.5rem;
      padding: 0 1rem;
      color: $white;

      font-family: 'Johnnie Walker Sans Headline', serif;
    }

    &-selector {
      counter-increment: howMany;
      @include hide-visually();

      &:checked ~ .hero-carousel__info-wrapper .hero-carousel__selected {
        display: inline-block;
        width: 2.5rem;
      }
    }

    &-checked {
      position: absolute;
      left: 4rem;
      top: 1.025rem;
      color: $white;
      text-transform: uppercase;
      height: 2rem;
      line-height: 2rem;

      & > span {
        padding: 0 !important;
        line-height: 2rem !important;
      }
    }

    &-check {
      width: 2rem;
      aspect-ratio: 1;
      border: 0.125rem solid $white; // 2px width
      background-color: transparent;
      position: absolute;
      left: 1rem;
      top: 1rem;

      display: flex;
      align-items: center;
      justify-content: center;

      &ed {
        padding: 0 1rem;

        & .hero-carousel__item-checked--on {
          opacity: 0;
          margin: 0;
          transition: 150ms;
          margin-left: -1rem;
        }
      }

      &::before {
        font-family: #{$jw-icon-font-family};
        content: $jw-icon-checkmark;
        width: 1rem;
        aspect-ratio: 1;
        display: inline-block;
        // background-color: $white;
        transform: scale(0);
        transition: 250ms;
      }
    }
  }

  @for $i from 1 through 10 {
    #hero-carousel-#{$i} {
      &[data-last-focused],
      &:focus-visible {
        & ~ .hero-carousel__current::before {
          content: '#{$i} ';
        }

        &
          ~ .hero-carousel__item-description-list
          .hero-carousel__item-description:nth-child(#{$i}) {
          display: inline-block;
          max-width: 280px;
          width: 100%;
        }

        &
          ~ .hero-carousel__background-list
          .hero-carousel__background:nth-child(#{$i}) {
          left: 0;
          opacity: 1;
        }

        & ~ .hero-carousel__item-grid {
          & [for='hero-carousel-#{$i}'] {
            border-color: $blaze-orange;
            // border-width: 0.5rem;
            // border-width: 0.5rem;
            border-width: 0;
          }

          & .hero-carousel__item {
            &:nth-child(7n + #{($i + 0) % 7}) {
              left: calc(
                (var(--item-width) * 0) +
                  var(--list-gap) *
                  0 -
                  var(--item-width) /
                  2
              );
              top: calc(var(--list-gap) * 0);
              transform: rotate(calc(var(--item-rotation) * 0));
            }

            &:nth-child(7n + #{($i + 1) % 7}) {
              left: calc(
                (var(--item-width) * 1) +
                  var(--list-gap) *
                  1 -
                  var(--item-width) /
                  2
              );
              top: calc(var(--list-gap) * 0.5);
              transform: rotate(calc(var(--item-rotation) * 1)) scale(0.8);
            }

            &:nth-child(7n + #{($i + 2) % 7}) {
              left: calc(
                (var(--item-width) * 2) +
                  var(--list-gap) *
                  2 -
                  var(--item-width) /
                  2
              );
              top: calc(var(--list-gap) * 1.8);
              transform: rotate(calc(var(--item-rotation) * 2)) scale(0.8);
            }

            &:nth-child(7n + #{($i + 3) % 7}) {
              left: calc(
                (var(--item-width) * 3) +
                  var(--list-gap) *
                  3 -
                  var(--item-width) /
                  2
              );
              top: calc(var(--list-gap) * 4);
              transform: rotate(calc(var(--item-rotation) * 3)) scale(0.8);
            }

            &:nth-child(7n + #{($i + 4) % 7}) {
              left: calc(
                (var(--item-width) * -3) +
                  var(--list-gap) *
                  -3 -
                  var(--item-width) /
                  2
              );
              top: calc(var(--list-gap) * 4);
              transform: rotate(calc(var(--item-rotation) * -3)) scale(0.8);
            }

            &:nth-child(7n + #{($i + 5) % 7}) {
              left: calc(
                (var(--item-width) * -2) +
                  var(--list-gap) *
                  -2 -
                  var(--item-width) /
                  2
              );
              top: calc(var(--list-gap) * 1.8);
              transform: rotate(calc(var(--item-rotation) * -2)) scale(0.8);
            }

            &:nth-child(7n + #{($i + 6) % 7}) {
              left: calc(
                (var(--item-width) * -1) +
                  var(--list-gap) *
                  -1 -
                  var(--item-width) /
                  2
              );
              top: calc(var(--list-gap) * 0.5);
              transform: rotate(calc(var(--item-rotation) * -1)) scale(0.8);
            }
          }
        }
      }

      &:checked {
        counter-increment: selected;

        &
          ~ .hero-carousel__item-selected-list
          .hero-carousel__item-remove:nth-child(#{$i}) {
          display: flex;
        }

        & ~ .hero-carousel__item-grid [for='hero-carousel-#{$i}'] {
          border-color: $thunderbird;
          // border-width: 0.5rem;
          border-width: 0;
          pointer-events: all;

          & > .hero-carousel__item-check {
            background-color: $black;
            border-color: $black;

            &::before {
              transform: scale(1);
              color: $white;
            }

            &ed .hero-carousel__item-checked--on {
              opacity: 1;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.hero-form {
  &__link {
    &--next :first-child,
    &--previous :first-child,
    &--skip :first-child {
      width: 17.5rem; // 280px
      height: 3.75rem; // 60px

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
    }

    &--previous :first-child,
    &--next :first-child {
      color: $white;
      background-color: $black;
    }

    &--skip :first-child {
      color: $black;
    }
  }
}

//                            768px
@media screen and (min-width: 48rem) {
  .hero-form {
    &__link {
      &--next :first-child,
      &--previous :first-child,
      &--skip :first-child {
        width: 30rem; // 480px
      }
    }
  }
}
